@use 'base';

.about {
	h2 {
		grid-column: span 3;
	}
}

.aboutText {
	grid-column: span 9;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

@media screen and (max-width: 1024px) {
	.about {
		h2 {
			grid-column: span 2;
		}
	}

	.aboutText {
		grid-column: span 6;
	}
}

@media screen and (max-width: 768px) {
}
