@use 'base';

.button {
	display: flex;
	align-items: center;
	width: fit-content;

	p {
		font-weight: 400;
		font-size: 1.125rem;
		width: fit-content;
		position: relative;
	}
}

.buttonTextColor {
	width: fit-content;
	color: base.$color-main !important;
}

.buttonTextWhite {
	width: fit-content;
	color: white;
}

.preButtonLine {
	border-top: 1px solid base.$color-main;
	width: 0;
	margin-right: 0;
}

.arrow {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.preButtonLineColor {
	border-top: 1px solid base.$color-main;
	width: 0;
	margin-right: 0;
}

.arrowHeadColor {
	border-top: 1px solid base.$color-main;
	border-right: 1px solid base.$color-main;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	position: relative;
	right: 9px;
}

.preButtonLineWhite {
	border-top: 1px solid white;
	width: 0;
	margin-right: 0;
}

.arrowHeadWhite {
	border-top: 1px solid white;
	border-right: 1px solid white;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	position: relative;
	right: 9px;
}

.button:hover .preButtonLineColor,
.button:hover .preButtonLineWhite {
	width: 1rem;
	margin-right: 1rem;
}

.button:hover .arrow {
	margin-left: 1.4rem;
}

@media screen and (max-width: 768px) {
	.button {
		p {
			p {
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
	}
}
