@use 'base';

.footer {
	margin-top: calc(base.$margin * 2);
	background-color: base.$color-main;

	* {
		color: white;
	}
}

.footerContainer {
	padding-top: base.$margin !important;
	padding-bottom: base.$margin !important;
}

.footerColumn {
	grid-column: span 3;

	ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		li {
			font-size: 0.875rem;
			position: relative;
			width: fit-content;
		}

		li:after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			right: 0;
			display: block;
			background: white;
			transition: width 0.2s ease;
			-webkit-transition: width 0.2s ease;
		}

		li:hover:after {
			width: 100%;
			left: 0;
		}
	}
}

.logoCredit {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.credit {
	font-size: 0.75rem;
	line-height: 1.4rem;
}

@media screen and (max-width: 1024px) {
	.footerColumn {
		grid-column: span 2;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		margin-top: base.$margin;
	}

	.footerColumn {
		grid-column: span 1;
	}

	.footerMenu {
		margin-bottom: 1.875rem;
	}
}
