@use 'base';

.hero {
	background-color: gray;
	height: 100vh;
	margin: 0;
	padding-top: 0;
	align-items: center;

	* {
		color: white;
	}
}

.heroContent {
	grid-column: 3 / 10;
	display: flex;
	flex-direction: column;
	gap: base.$gap;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: calc(base.$gap / 2);
}

@media screen and (max-width: 1024px) {
	.heroContent {
		grid-column: 1 / 10;
	}
}

@media screen and (max-width: 768px) {
	.heroContent {
		grid-column: 1 / 3;
	}
}
