@use 'base';

.hero {
	background-color: gray;
	height: 100vh;
	margin: 0;
	padding-top: 0;
	align-items: center;
	position: relative;
	overflow: hidden;

	* {
		color: white;
	}
}

.heroVideo {
	position: absolute;
	min-height: 100vh;
	min-width: 100%;
}

.videoOverlay {
	background-color: black;
	opacity: 0.5;
	position: absolute;
	min-height: 100vh;
	min-width: 100%;
}

.heroContent {
	grid-column: 3 / 10;
	display: flex;
	flex-direction: column;
	gap: base.$gap;
	z-index: 2;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: calc(base.$gap / 2);
}

@media screen and (max-width: 1024px) {
	.heroContent {
		grid-column: 1 / 10;
	}
}

@media screen and (max-width: 768px) {
	.heroContent {
		grid-column: 1 / 3;
	}
}
