@use 'base';

.services {
	display: flex;
	margin-top: calc(base.$margin * 2);

	a {
		flex-grow: 1;
		flex-basis: 0;
	}
}

.service {
	position: relative;
	width: 100%;
}

.service:hover .descriptionBackground,
.service:hover .description {
	display: flex;
}

.service:hover img {
	transform: scale(1.2);
}

.servicePhoto {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 12;
	overflow: hidden;
}

.serviceTitle {
	font-size: 1.375rem;
	margin-top: 1.25rem;
	margin-left: base.$gap;
}

.descriptionBackground {
	background-color: base.$color-highlight-second;
	width: 100%;
	aspect-ratio: 16 / 12;
	position: absolute;
	top: 0;
	mix-blend-mode: multiply;
	display: none;
}

.description {
	padding: base.$gap;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.25rem;
	aspect-ratio: 16 / 12;
	display: none;

	p {
		font-size: 1rem;
		line-height: 1.5rem;
		color: white;
	}
}

.servicesDescription {
	padding-top: base.$margin;

	h2 {
		grid-column: span 3;
	}
}

.servicesText {
	grid-column: span 12;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

@media screen and (max-width: 1024px) {
	.services {
		margin-top: base.$margin;
		flex-direction: column;

		a {
			width: 100%;
		}
	}

	.servicesDescription {
		h2 {
			grid-column: span 2;
		}
	}

	.servicesText {
		grid-column: span 8;
	}

	.serviceTitle {
		margin-bottom: calc(base.$gap / 2);
	}
}

@media screen and (max-width: 768px) {
	.serviceTitle {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		margin-bottom: base.$gap;
	}

	.servicesDescription {
		padding-top: calc(base.$margin / 2);
	}
}
