@use 'base';

.shop {
	h2 {
		grid-column: span 3;
	}
}

.shopText {
	grid-column: span 9;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

.links {
	display: flex;
	flex-wrap: wrap;
	gap: calc(base.$gap / 2);
}

.shopSamples {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: base.$margin;
}

.samplePhoto {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 12;
	overflow: hidden;
}

.samplePhoto:hover {
	img {
		transform: scale(1.2);
	}
}

@media screen and (max-width: 1024px) {
	.shop {
		h2 {
			grid-column: span 2;
		}
	}

	.shopText {
		grid-column: span 6;
	}

	.shopSamples {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.shopSamples {
		margin-top: calc(base.$margin / 2);
	}
}
